# Supabase (obligatoire pour l'authentification)
# Récupère ces valeurs dans ton projet Supabase : Settings > API
VITE_SUPABASE_URL=https://sskekjasvjazqsilimry.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNza2VramFzdmphenFzaWxpbXJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzMzU5OTQsImV4cCI6MjA4NjkxMTk5NH0.T3eyypDJfnjW2Eg8rpuIL2JSLnlCUMnDLVdfO9MOBXY

# API backend (optionnel, défaut: http://127.0.0.1:8000)
VITE_API_URL=http://127.0.0.1:8000
